.countdown.wrapper {
  color: #343a3f;
  margin: 0 auto;
  text-align: center;
  width: 79%;
}

.countdown h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  font-size: 16px;
  margin: 0;
}

.countdown ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.countdown li {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 0 0.5em;
  text-transform: uppercase;
}

.countdown li span {
  display: block;
  font-size: 2.5rem;
}

.countdown .message {
  font-size: 4rem;
  display: none;
  padding: 1rem;
}

.countdown .emoji {
  padding: 0 .25rem;
}

/* @media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 3.375rem;
  }
} */