.main__body {
  background-color: aliceblue !important;
  background-image: url(images/first.JPG);
  background-size: cover;
  background-position-x: center;
}

.content {
  height: auto;
  padding: 15px 0;
}

.button {
  display: block;
  text-align: center;
  background-color: rgb(228 228 230 / 81%);
  text-decoration: none;
  color: #343a40;
  padding: 0.5rem 0rem;
}

.margin-r {
  margin-right: 0.5rem;
}

.back__wrapper {
  background-color: #343a3f;
  color: white;
}

.place__body {
  color: #343a3f;
}

.place__card {
  height: calc(100vh - 64px);
}

.btn-outline-primary {
  color: #343a3e!important;
  border-color: #343a3e!important;
}

.btn-check:checked+.btn-outline-primary {
  color: #fff!important;
  background-color: #343a3e!important;
  border-color: #343a3e!important;
  box-shadow: none!important;
}

.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
  box-shadow: none!important;
}

.dress-code-bar {
  width: 80%;
  border: 1px solid #343a3e;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;

}

.dress-code-bar-men {
  width: 50%;
}

.dress-code-bar__item-1 {
  width: 40px;
  height: 40px;
  background-image: url(./images/glitter.jpeg);
  border-radius: 50%;
}

.dress-code-bar__item-2 {
  width: 40px;
  height: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
}

.dress-code-bar__item-3 {
  width: 40px;
  height: 40px;
  background-color: #f6e7da;
  border-radius: 50%;
}

.dress-code-bar__item-4 {
  width: 40px;
  height: 40px;
  background-color: #676a6f;
  border-radius: 50%;
}

.dress-code-bar__item-5 {
  width: 40px;
  height: 40px;
  background-color: #343a3e;
  border-radius: 50%;
}

.hide {
  display: none;
}

.presents__body {
  background-image: url(images/IMG_7663_Facetune_17-03-2020-19-13-25.JPG);
  background-size: contain;
  background-position-x:center;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.presents__content {
  background-color: rgb(255 255 255 / 100%);;
}

.presents__photo {
  width: 100%;
}